---
import Navigation from './navigation.astro';
import Hamburger from './hamburger.astro';
import ThemeIcon from './themeicon.astro';
---
<header>
  <nav>
    <Hamburger />
    <ThemeIcon />
    <Navigation />
  </nav>
</header>